/*

    Section

*/
#sectionCarrinho {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

@media only screen and (max-width: 799px) {
    #sectionCarrinho {
        flex-direction: column;
        align-items: center;
    }
}

/*

    Produtos

*/
#containerGrupoProdutosCarrinho {
    width: 780px;
    margin-right: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4E72DE;
    border-radius: 10px;
}

#grupoProdutosCarrinho {
    width: 100%;
    border-radius: 20px;
}

#tituloGrupoProduto {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px 10px;
    border-radius: 7px 7px 0 0;
}

.containerProdutoCarrinho {
    margin-top: 5px;
    height: 180px;
    padding: 10px;
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.containerProdutoCarrinho:first-child {
    margin-top: 0px;
}

.containerImagemProdutoCarrinho {
    width: 150px;
}

.containerImagemProdutoCarrinho>img {
    width: 100%;
}

.containerInformacaoProdutoCarrinho {
    width: 200px;
    flex-direction: column;
}

.informacaoProdutoCarrinho {
    margin: 5px 0;
    color: #182345;
}

.botaoCarrinho {
    margin-top: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 799px) {
    #containerGrupoProdutosCarrinho {
        width: 80%;
    }

    .containerProdutoCarrinho {
        height: 400px;
        flex-direction: column;
    }

    .containerInformacaoProdutoCarrinho {
        width: 100%;
    }
}

/*

    Resultado

*/
#containerResultadoCheckout {
    width: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4E72DE;
    border-radius: 10px;
}

#tituloResultadoCheckout {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px 10px;

}

#dadosResultadoCarrinho {
    width: 80%;
    padding: 12px;
    background-color: #ffff;
}

#containerGrupoBotaoResultadoCarrinho {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacaoResultado {
    margin: 5px 0;
    color: #182345;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.containerBotaoResultadoCarrinho {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botaoResultado {
    width: 100%;
    border: 0;
    color: #ffff;
    cursor: pointer;
}

.botaoTotal {
    height: 50px;
    background-color: #A193C4;
    border-radius: 10px;
}

.botaoTotal:hover {
    color: #141D38;
}

.botaoLimpar {
    height: 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #37519E;
}

.botaoLimpar:hover {
    color: #4E72DE;
}

@media only screen and (max-width: 799px) {
    #containerResultadoCheckout {
        margin-top: 20px;
    }
}