/*

    Containers

*/
.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*

    Display

*/
.semDisplay {
    display: none;
}

.displayBlock {
    display: block;
}

/*

    Margin e Padding

*/
.marginTopZero {
    margin-top: 0;
}

/*

    Font

*/
.negrito {
    font-weight: bolder;
}

.limparLink {
    color: #ffff;
    text-decoration: none;
}