/*

    Container Principal

*/
#headerContainerPrincipal {
    height: 90px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #21305E;
}

/*

    Logo e Menu

*/
#logoPrincipal {
    display: flex;
    align-items: center;
}

#logoPrincipal>img {
    width: 50px;
    height: 30px;
}

.textoLogo {
    margin-left: 5px;
    color: #9932CC;
    font-size: 1.3em;
}

#menuSmartphone {
    display: none;
}

@media only screen and (max-width: 600px) {

    #logoPrincipal>span,
    #logoPrincipal>img {
        display: none;
    }

    #menuSmartphone {
        display: block;
    }

    #abaMenuSmartphone {
        width: 300px;
        background-color: #4E72DE;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    #containerCloseMenu {
        position: absolute;
        top: 7px;
        right: 7px;
        cursor: pointer;
    }

    #containerCloseMenu>img {
        width: 70px;
    }

    #abaMenuSmartphone>ul {
        margin-top: 0;
        padding: 0;
    }

    .containerItemAbaMenuSmartphone:first-child {
        padding-right: 0;
    }

    .containerItemAbaMenuSmartphone {
        margin-bottom: 10px;
        padding: 10px;
        list-style: none;
        margin-left: 5px;
        text-decoration: none;
        font-size: 1.3em;
    }

    #tituloSubMenu {
        display: block;
        margin: 0;
        padding: 30px 10px;
        background-color: #141D38;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #logoItemAbaMenuSmartphone {
        width: 30px;
    }

}

/*

    Carrinho

*/
#containerCarrinhoCompra {
    cursor: pointer;
}

#containerAbaCarrinho {
    position: relative;
}

#carrinhoCompra {
    width: 70px;
    height: 40px;
}