/*

    Barra Compra

*/
#barraFerramentaCentral {
    width: 100%;
    height: 50px;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #37519E;
}

#displayFiltro {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #37519E;
    cursor: pointer;
}

#displayFiltro>img {
    margin-left: 10px;
}

.setaFiltroCima {
    transform: rotate(180deg);
}

.setaFiltroBaixo {
    transform: rotate(0deg);
}

#containerFiltro {
    padding: 20px;
    position: absolute;
    top: 174px;
    right: 0;
    background-color: #37519E;
}


.componenteFiltro {
    width: 100%;
    list-style: none;
    margin-top: 20px;
}

@media only screen and (max-width: 800px) {
    #containerFiltro {
        top: 123px;
    }
}

/*

    Produtos

*/
#containerGrupoProdutos {
    width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
    #containerGrupoProdutos {
        width: 100%;
    }
}